@media only screen and (max-width: 991px) {

  .logo, .about, .project, .contact, .footer {
        margin: 0 50px;
    }
  }


  
@media only screen and (max-width: 891px){
    .story .p{
        font-size: 11px;
    }

    .story .diploma h3{

        font-size: 15px;

    }
    .story .diploma p ,  .project .img_project h3{
        font-size: 12px;
    }

    .project .row{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .project .img_project img{
        width: 250px;
        height: 250px;
    }

}



@media only screen and (max-width: 767px) {
    #ham-menu {
      display: block;
      color:white;
    }
    nav a#logo,
    #ham-menu {
      font-size: 20px;
      margin-right: 60px;
    }
    nav ul{
      background: linear-gradient(85deg,rgb(243, 29, 247), royalblue);
      position: fixed;
      left: -100vw;
      top: 59px;
      width: 100vw;
      height: 40vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: 1s;
      gap: 0;
    }

    nav a{
      color: white;
    }
  }



  @media only screen and (max-width: 675px) {

    header{
      margin: 0;
      padding:10px;
    }
    .logo h1, header i{
      font-size: 16px;
    }

    section .name_text h2{
      font-size: 20px;
    }

    .name_text h1{
      font-size: 40px;
    }

    .name_text .text-automation p,  .about_text h1{
      font-size: 30px;
    }

    .about .row , .project .row{
      flex-direction: column;
    }
    .icon{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
    }

    .contact .connect{
      width: 250px;
    }

    .connect button{
      font-size: 12px;
    }

    .connect p{
      font-size: 16px;
    }

    .connect label span, .connect label h4{
      font-size: 12px;
    }

    footer{
      font-size: 12px;
    }

  }